@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #66ff66;
}

header {
    width: 100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.title-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: rgb(27, 37, 180);
    text-shadow: 4px 4px 4px #aaa;
}

body > section {
    display: flex;
    justify-content: center;
}


/* Buttons */

.buttonContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#clearButton {
    background-color: #104df7;
    color: aliceblue;
    height: 5rem;
    width: 8rem;
    border: solid 1px #104df7;
    box-shadow: 2px 2px 2px blueviolet;
    border-radius: 5px;
    margin: auto;
    font-size: 1.5em;
}

#applyButton {
    background-color: #104df7;
    color: aliceblue;
    height: 5rem;
    width: 8rem;
    border: solid 1px #104df7;
    box-shadow: 2px 2px 2px blueviolet;
    height: 5rem;
    width: 8rem;
    border-radius: 5px;
    margin: auto;
    font-size: 1.5em;
}

#colourPickerLabel {
    margin-top: 0.5rem;
}


/* Grid */

.gridContainer {
    display: flex;
    margin-right: 8rem;
}

#grid {
    width: 32rem;
    height: 32rem;
    border: solid blueviolet 1px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: none;
    border: solid 1px gray;
    box-sizing: border-box;
}

.slideContainer {
    margin: auto;
}

input[type="range"] {
    appearance: slider-vertical;
}


footer {
    width: 100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    margin-top: 0.5rem;
}