@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: rgb(27, 37, 180);
    text-shadow: 4px 4px 4px #aaa;
}

body > section:nth-of-type(1) {
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: flex;
}

.grid {
    width: 500px;
    height: 500px;
    border: solid blueviolet 1px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: none;
    border: solid 1px gray;
    box-sizing: border-box;
}

.shaded {
    background-color: gold;
}



.slideContainer {
    margin: auto;
}

input[type="range"] {
    appearance: slider-vertical;
}

#clearButton {
    background-color: brown;
    height: 5rem;
    width: 5rem;
}

#colourButton {
    background-color: darkgreen;
    height: 5rem;
    width: 5rem;
}