body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
}

body > * {
    flex: 1 1 auto;
}

/* Header */

header {
    width: 100%;
    height: 4.5rem;
    background-color: #ffbf69;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #aaa;
}

/* Main section */

section {
    display: flex;
    justify-content: space-around;
    background-color: #ff9f1c;
}


/* Buttons */

button {
    background-color: #2ec4b6;
    color: #ffffff;
    height: 5rem;
    width: 8rem;
    border: solid 1px #2ec4b6;
    height: 5rem;
    width: 8rem;
    border-radius: 5px;
    margin: auto;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: auto;
    transform: scale(1);
    transition: transform .35s ease;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.15);
    transition: transform .3s ease;
}

.leftButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
}

.eraserPenContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
}



/* Colour Picker */

.colorPickerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    width: 8em;
    background-color: #2ec4b6;
    border-radius: 5px;
    transform: scale(1);
    transition: transform .35s ease;
    margin: auto;
}

.colorPickerWrapper:hover {
    transform: scale(1.25);
    transition: transform .3s ease;
}

.colorPickerWrapper > div {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #ffbf69;
}

#colourPicker {
    height: 80%;
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

#colourPickerLabel {
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-weight: 600;
    padding: 0.8rem;
}


/* Grid */

.gridContainer {
    display: flex;
    margin: 0.5rem 0;
    border: solid #3f51b5 10px;
    border-radius: 10px;
}

#grid {
    width: 32rem;
    height: 32rem;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: solid 1px rgba(218, 212, 212, 0.329);
    box-sizing: border-box;
}


/* Grid Resize Slider */

.slideContainer {
    margin: auto;
}

.slider {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 200px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: #ffbf69;
}

footer > div {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
  }

  a:link {
    color: #cbf3f0;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
  color: #1768d1;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #25528b;
  background-color: transparent;
  text-decoration: none;
}